In [1]:
import numpy as np
import pandas as pd
import datetime
from sklearn.utils import shuffle
%matplotlib inline

In [2]:
df = pd.read_csv("Data/openpowerlifting.csv")

C:\Users\tvaino\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#Remove unnecessary columns
da = df[['Name', 'Sex', 'Event', 'Equipment', 'Age', 'Wilks', 'Tested', 'Date']]

In [4]:
# Changing column tested nan rows to no
da['Tested'] = da['Tested'].replace(np.nan,0)
da['Tested'] = da['Tested'].replace('Yes',1)
da['Sex'] = da['Sex'].replace('M',0)
da['Sex'] = da['Sex'].replace('F',1)

<ipython-input-4-479747ad4687>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Tested'] = da['Tested'].replace(np.nan,0)
<ipython-input-4-479747ad4687>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Tested'] = da['Tested'].replace('Yes',1)
<ipython-input-4-479747ad4687>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Sex'] = da['Sex'].replace('M',0)
<ipython-input-4-479747ad4687>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Sex'] = da['Sex'].replace('F',1)

In [5]:
# Rows where event is not SBD will be dropped
da = da[da.Event=='SBD']

In [6]:
#Drop rows where age is nan
da = da.dropna(how='any', subset=['Name','Sex', 'Equipment', 'Age', 'Wilks', 'Date'])

In [7]:
da['Equipment'] = da['Equipment'].replace('Raw',0)
da['Equipment'] = da['Equipment'].replace('Single-ply',1)
da = da[(da['Equipment']==1) | (da['Equipment']==0)]

In [8]:
#Adding column with approximate date of birth
da['BirthYear'] = da.apply(lambda row: int(str(row.Date)[:4]) - (row.Age), axis = 1)

In [9]:
da

,Name,Sex,Event,Equipment,Age,Wilks,Tested,Date,BirthYear
11,Christina Tsatsoulis,1,SBD,0,27.0,333.24,0,2018-10-27,1991.0
14,Elizabeth Ciortuz,1,SBD,0,19.0,290.95,0,2018-10-27,1999.0
19,Jasmine Hoare,1,SBD,0,31.0,353.56,0,2018-10-27,1987.0
21,Joelle Savgy,1,SBD,0,29.0,294.98,0,2018-10-27,1989.0
31,Nicole Brown,1,SBD,0,28.0,284.47,0,2018-10-27,1990.0
...,...,...,...,...,...,...,...,...,...
1423347,Adam Jasiński,0,SBD,0,65.5,372.98,1,2017-04-01,1951.5
1423348,Włodzimierz Żmijewski,0,SBD,0,67.5,367.91,1,2017-04-01,1949.5
1423349,Marian Cafalik,0,SBD,0,60.5,327.07,1,2017-04-01,1956.5
1423350,Marian Piwowarczyk,0,SBD,0,55.5,304.16,1,2017-04-01,1961.5
1423351,Andrzej Bryniarski,0,SBD,0,62.5,274.48,1,2017-04-01,1954.5

In [10]:
#Sort by date and names
da = da.sort_values(['Name','Date'])

In [11]:
da['PersonID'] = 0
da['PreviousComps'] = 0
p_id = 0
last_name = ""
last_birth_year = 0
last_sex = 2
competition_rate = 0

for i in range(len(da)):
    row = da.iloc[i]
    new_name = row['Name']
    new_birth_year = row['BirthYear']
    new_sex = row['Sex']
    if new_name == last_name:
        if new_sex == last_sex and abs(new_birth_year-last_birth_year)<=1:
            #print(new_name)
            competition_rate += 1
            da['PersonID'].iloc[i] = p_id
            da['PreviousComps'].iloc[i] = competition_rate
        else:
            competition_rate = 1
            last_name = new_name
            last_birth_year = new_birth_year
            last_sex = new_sex
            p_id+=1
            da['PersonID'].iloc[i] = p_id
            da['PreviousComps'].iloc[i] = competition_rate
    else:
        competition_rate = 1
        last_name = new_name
        last_birth_year = new_birth_year
        last_sex = new_sex
        p_id+=1
        da['PersonID'].iloc[i] = p_id
        da['PreviousComps'].iloc[i] = competition_rate
da.head(50)

C:\Users\tvaino\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Name,Sex,Event,Equipment,Age,Wilks,Tested,Date,BirthYear,PersonID,PreviousComps
913534,A Abduzhabarov,0,SBD,1,23.5,312.90,1,2012-03-26,1988.5,1,1
1369333,A Ajeesha,1,SBD,0,16.5,295.29,1,2017-12-04,2000.5,2,1
1371420,A Ashwin,0,SBD,1,16.5,326.82,1,2012-05-01,1995.5,3,1
943185,A Bauer,0,SBD,1,20.5,380.09,1,1999-03-25,1978.5,4,1
1370862,A Dilmuradov,0,SBD,1,65.5,222.09,1,2004-04-28,1938.5,5,1
1373689,A Dilymuradov,0,SBD,1,69.5,203.39,1,2008-05-04,1938.5,6,1
943315,A Dzhaman,1,SBD,1,16.5,329.56,1,1999-03-25,1982.5,7,1
774343,A DziewiczKiewicz,1,SBD,1,21.5,424.06,1,2001-06-14,1979.5,8,1
944759,A Eginov,0,SBD,1,24.5,444.06,1,2000-09-27,1975.5,9,1
1029329,A Ernandos-Ortega,0,SBD,1,17.5,476.52,1,2002-09-25,1984.5,10,1
943264,A Gubkin,0,SBD,1,18.5,428.21,1,1999-03-25,1980.5,11,1
890589,A Jay Montanez,0,SBD,0,22.0,376.78,0,2016-02-27,1994.0,12,1
1370844,A Karabekan,0,SBD,1,34.5,355.68,1,2004-04-28,1969.5,13,1
944758,A Kashpinov,0,SBD,1,25.5,449.15,1,2000-09-27,1974.5,14,1
1370936,A Lilavin,0,SBD,1,34.5,507.04,1,2004-04-28,1969.5,15,1
943231,A Lukin,0,SBD,1,16.5,371.98,1,1999-03-25,1982.5,16,1
1370993,A Mazgumova,1,SBD,1,16.5,188.32,1,2004-04-28,1987.5,17,1
1370883,A Olla,0,SBD,1,29.5,480.66,1,2004-04-28,1974.5,18,1
943281,A Pavlov,0,SBD,1,22.5,489.80,1,1999-03-25,1976.5,19,1
943266,A Pronin,0,SBD,1,19.5,383.19,1,1999-03-25,1979.5,20,1
1370863,A Safin,0,SBD,1,15.5,375.14,1,2004-04-28,1988.5,21,1
1373685,A Sattarov,0,SBD,1,46.5,264.43,1,2008-05-04,1961.5,22,1
1375732,A Sazanov,0,SBD,0,14.5,290.76,0,2013-12-20,1998.5,23,1
906905,A Tyuryukov,0,SBD,1,19.5,466.12,1,2013-03-13,1993.5,24,1
910476,A Tyuryukov,0,SBD,1,19.5,422.73,1,2013-07-05,1993.5,24,2
832431,A Yang,0,SBD,0,24.0,411.72,0,2017-01-07,1993.0,25,1
837455,A Yang,0,SBD,0,25.0,429.96,0,2017-10-07,1992.0,25,2
1370840,A Yildashev,0,SBD,1,14.5,263.18,1,2004-04-28,1989.5,26,1
686632,A'Dren Hye,0,SBD,0,21.5,421.50,1,2015-03-21,1993.5,27,1
745602,A'Dren Hye,0,SBD,0,22.5,448.92,1,2016-06-04,1993.5,27,2
685849,A'Dren Hye,0,SBD,0,23.5,454.03,1,2017-04-08,1993.5,27,3
75797,A-Yun Lin,1,SBD,1,43.5,420.64,1,1989-11-13,1945.5,28,1
1372016,A-Yun Lin,1,SBD,1,44.5,397.10,1,1990-09-01,1945.5,28,2
1033798,A-Yun Lin,1,SBD,1,45.5,387.06,1,1991-06-23,1945.5,28,3
1044275,A-Yun Lin,1,SBD,1,46.5,412.88,1,1992-05-31,1945.5,28,4
1372096,A-Yun Lin,1,SBD,1,46.5,435.34,1,1992-08-17,1945.5,28,5
1373587,A-Yun Lin,1,SBD,1,47.5,445.35,1,1993-09-01,1945.5,28,6
1370682,A-Yun Lin,1,SBD,1,60.5,448.13,1,2006-05-02,1945.5,28,7
1370110,A-Yun Lin,1,SBD,1,61.5,441.85,1,2007-05-02,1945.5,28,8
1371156,A-Yun Lin,1,SBD,1,65.5,416.47,1,2011-12-05,1945.5,28,9
1371828,A-Yun Lin,1,SBD,1,69.5,375.93,1,2015-07-20,1945.5,28,10
1053892,A-Yun Lin,1,SBD,0,70.5,303.05,1,2016-06-19,1945.5,28,11
913510,A. Abdullaev,0,SBD,1,16.5,366.21,1,2012-03-26,1995.5,29,1
910377,A. Abdullaev,0,SBD,1,19.5,361.19,1,2012-07-05,1992.5,30,1
913018,A. Abdullaeva,1,SBD,0,22.5,313.72,1,2016-10-03,1993.5,31,1
908061,A. Abdullaeva,1,SBD,0,23.5,384.06,1,2017-10-02,1993.5,31,2
1371361,A. Abduraimova,1,SBD,1,22.5,411.20,1,2012-05-01,1989.5,32,1
911757,A. Abduzhabbar,0,SBD,1,18.5,397.23,1,2015-10-05,1996.5,33,1
908136,A. Abduzhabbar,0,SBD,1,19.5,341.74,1,2016-07-04,1996.5,33,2
908490,A. Abduzhabbar,0,SBD,1,20.5,444.19,1,2017-04-02,1996.5,33,3

In [12]:
da = da.reset_index()

In [13]:
# Remove 
da = da[['PreviousComps', 'Sex', 'Equipment', 'Age', 'Wilks', 'Tested', 'Date']]

In [14]:
# Splitting data into test and train data set
da = shuffle(da, random_state=2)
split_id = int(len(da)*0.7)
da_train =da.iloc[:,:split_id]
da_test = da.iloc[split_id:]

In [15]:
# Saving clean data to file
da_test.to_csv(r'data/test_data.csv')
da_train.to_csv(r'data/train_data.csv')