In [1]:
import numpy as np
import pandas as pd
import datetime
%matplotlib inline

In [2]:
df = pd.read_csv("Data/openpowerlifting.csv")

C:\Users\tvaino\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [81]:
#Remove unnecessary columns
da = df[['Name', 'Sex', 'Event', 'Equipment', 'Age', 'Wilks', 'Tested', 'Date']]

In [82]:
# Changing column tested nan rows to no
da['Tested'] = da['Tested'].replace(np.nan,0)
da['Tested'] = da['Tested'].replace('Yes',1)
da['Sex'] = da['Sex'].replace('M',0)
da['Sex'] = da['Sex'].replace('F',1)

<ipython-input-82-479747ad4687>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Tested'] = da['Tested'].replace(np.nan,0)
<ipython-input-82-479747ad4687>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Tested'] = da['Tested'].replace('Yes',1)
<ipython-input-82-479747ad4687>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Sex'] = da['Sex'].replace('M',0)
<ipython-input-82-479747ad4687>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da['Sex'] = da['Sex'].replace('F',1)

In [83]:
# Rows where event is not SBD will be dropped
da = da[da.Event=='SBD']

In [84]:
#Drop rows where age is nan
da = da.dropna(how='any', subset=['Name','Sex', 'Equipment', 'Age', 'Wilks', 'Date'])

In [85]:
da['Equipment'] = da['Equipment'].replace('Raw',0)
da['Equipment'] = da['Equipment'].replace('Single-ply',1)
da = da[(da['Equipment']==1) | (da['Equipment']==0)]

In [86]:
#Adding column with approximate date of birth
da['BirthYear'] = da.apply(lambda row: int(str(row.Date)[:4]) - (row.Age), axis = 1)

In [87]:
da

,Name,Sex,Event,Equipment,Age,Wilks,Tested,Date,BirthYear
11,Christina Tsatsoulis,1,SBD,0,27.0,333.24,0,2018-10-27,1991.0
14,Elizabeth Ciortuz,1,SBD,0,19.0,290.95,0,2018-10-27,1999.0
19,Jasmine Hoare,1,SBD,0,31.0,353.56,0,2018-10-27,1987.0
21,Joelle Savgy,1,SBD,0,29.0,294.98,0,2018-10-27,1989.0
31,Nicole Brown,1,SBD,0,28.0,284.47,0,2018-10-27,1990.0
...,...,...,...,...,...,...,...,...,...
1423347,Adam Jasiński,0,SBD,0,65.5,372.98,1,2017-04-01,1951.5
1423348,Włodzimierz Żmijewski,0,SBD,0,67.5,367.91,1,2017-04-01,1949.5
1423349,Marian Cafalik,0,SBD,0,60.5,327.07,1,2017-04-01,1956.5
1423350,Marian Piwowarczyk,0,SBD,0,55.5,304.16,1,2017-04-01,1961.5
1423351,Andrzej Bryniarski,0,SBD,0,62.5,274.48,1,2017-04-01,1954.5

In [96]:
#Sort by date and names
da = da.sort_values(['Name','Date'])

In [ ]:
da['PersonID'] = 0
da['PreviousComps'] = 0
p_id = 0
last_name = ""
last_birth_year = 0
last_sex = 2
competition_rate = 0

for i in range(len(da)):
    row = da.iloc[i]
    new_name = row['Name']
    new_birth_year = row['BirthYear']
    new_sex = row['Sex']
    if new_name == last_name:
        if new_sex == last_sex and abs(new_birth_year-last_birth_year)<=1:
            #print(new_name)
            competition_rate += 1
            da['PersonID'].iloc[i] = p_id
            da['PreviousComps'].iloc[i] = competition_rate
        else:
            competition_rate = 1
            last_name = new_name
            last_birth_year = new_birth_year
            last_sex = new_sex
            p_id+=1
            da['PersonID'].iloc[i] = p_id
            da['PreviousComps'].iloc[i] = competition_rate
    else:
        competition_rate = 1
        last_name = new_name
        last_birth_year = new_birth_year
        last_sex = new_sex
        p_id+=1
        da['PersonID'].iloc[i] = p_id
        da['PreviousComps'].iloc[i] = competition_rate
da.head(50)

C:\Users\tvaino\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [ ]:
for i in range (len(da)): 
    da.index = i

In [ ]:
# Remove 
da = da[['PreviousComps', 'Sex', 'Event', 'Equipment', 'Age', 'Wilks', 'Tested', 'Date']]

In [ ]:
# Splitting data into test and train data set

In [ ]:
# Saving clean data to file
da_test.to_csv(r'data/test_data.csv')
da_train.to_csv(r'data/train_data.csv')